/* Colors:
Dark Purple: #1F1F3C
Medium Purple: 
Light Purple: #EAEAF4
White: #FFFFFF */

* {
  font-family: 'Poppins', sans-serif;
  margin: 0px;
}

main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  /* overflow-y: scroll; */
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1F1F3C;
  width: 20%;
}

h1 {
  color:#EAEAF4;
  font-size:8vh;
  margin-top: 2vh;
}

section {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.top-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
  background-color: #A8AAD2;
  height: 45%;
  width: 100%;
}

div {
  display: flex;
  align-items: center;
}

.body-input {
  margin-top: 2vh;
}

input {
  margin-right: 20vh;
  margin-left: 1vh;
  border: #1F1F3C solid 3px;
  height: 7vh;
  width: 110vh;   
}

label {
  font-size: 25px;
  font-weight: 300;
}

#body {
  height: 12vh;
}

.bottom-box {
  background-color: #EAEAF4;
  height: 55%;
  padding: 20px;
  overflow-y: scroll;
}

.user-ideas-grid{
  display: grid;
  grid-template-columns:repeat(3,1fr);
  grid-gap: 20px;
  padding: 20px;
}

header{
  display: flex;
  background-color: #1F1F3C;
  height: 6.3vh;
  overflow: hidden;
}

.user-idea-card {
  background: #FFFFFF;
  color: #1F1F3C;
  border: #1F1F3C solid 3px;
  height: 290px;
  width: 250px;
  overflow: auto;
}

.user-idea-card h2,
.user-idea-card h4 {
  color: #1F1F3C;
  line-height: 1;
  width: 90%;
  font-size: 30px;
  font-weight: 200;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.user-idea-card h2 {
  font-weight: 500;
  padding-top: 20px;
  padding-bottom: 20px;
}

.user-idea-card-h4{
  padding-top: 0px;
}

.save-button {
  margin-right: 20vh;
  height: 10vh;
  width: 110vh;
  border-width: 0px;
  font-weight: 400;
  font-size: 4vh;
  background-color:#37373e;
  color:#EAEAF4;
}

.inputs-filled {
  background-color:#1F1F3C;
  cursor: pointer;
}

.favorite-button {
  background-image: url("assets/star.svg");
  background-color: #1f1f3c;
  border: 0px;
  height: 57px;
  width: 55px;
  background-size: cover;
}

.active {
  background-image: url("assets/star-active.svg");
}

.delete-button {
  border: 0;
  background-image: url("assets/menu-close.svg");
  margin-left: 130px;
  height: 50px;
  width: 50px; 
  margin-top: 5px;
  margin-bottom: 10px;
  background-color:#1F1F3C;  
}
.hidden {
  display: none;
}

.show-starred-button {
  margin-top: 23px;
  background-color: #A8AAD2;
  height: 70px;
  width: 300px;
  font-size: 27px;
  font-weight: 600;
  color:#1F1F3C;
}