/* Colors:
Dark Purple: #1F1F3C
Medium Purple: #A8AAD2
Light Purple: #EAEAF4
White: #FFFFFF */

* {
    font-family: 'Poppins', sans-serif;
}

main {
    display: flex;
    flex-direction: row;
}

aside {
    background-color: #1F1F3C;
}

section {
    display: flex;
}

.top-box {
    background-color: #A8AAD2;
}

.bottom-box {
    background-color: #EAEAF4;
}